<%-include("partials/header", {page: "Home"})-%>

<h1>Welcome to the Book Directory</h1>

<div class = "about">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores ipsa maxime illum dolore fugiat ut nam sit, recusandae sequi voluptate assumenda hic enim sunt aperiam doloribus ipsum nulla alias. Voluptatem modi, deserunt qui ut laudantium placeat repudiandae doloribus consequuntur. Omnis ad consequuntur sunt itaque, consectetur dolores officia perferendis soluta! Ratione impedit, commodi necessitatibus, accusantium deserunt, accusamus cum doloribus quibusdam reiciendis quod reprehenderit consequatur corporis aperiam excepturi voluptate saepe qui tenetur animi molestias porro? Modi culpa harum atque ea quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex eaque hic optio possimus fugiat harum eum quia, dignissimos iusto voluptates. Soluta labore laborum itaque fugiat facilis quasi magni ipsa molestiae corrupti obcaecati! Cupiditate, magnam maxime fugit inventore delectus vitae quis, ut vel quae error cum quod. Quis sit autem unde iure minus possimus, tenetur officia incidunt consequuntur et, dignissimos enim.</p>
</div>

<%-include("partials/footer")-%>